<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>ספיר ברנס - יוגה לגוף שמח</title>
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- Custom styles for this template -->
		<link href="../../static/css/new.css" rel="stylesheet">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	</head>
	<body>
		<div class="" style="position: relative;">
			<div class="inner cover" style="background: linear-gradient(354deg, rgb(76, 184, 196) 0%, rgb(60, 211, 173) 100%); height: 100%;">
				<h1 class="cover-heading">קליק אחד ו -5 דקות סרטון לשחרור פלג הגוף העליון אצלך במייל!</h1>
				<p class="lead">לקבלת סרטון של 5 דקות לשחרור פלג הגוף העליון - שכמות, כתפיים וצוואר </p>
				<p class="lead">מלא/י את פרטייך :</p>
				<form enctype="multipart/form-data" method="POST">
					<label for="username">שם מלא: </label>
					<input class="subscribe-form form-control input" id="username" type="text" name="username">
					<label for="email">כתובת מייל:</label>
					<input class="subscribe-form form-control input" id="email" type="email" name="email">
					{% csrf_token %}
					<div>
						<input type="checkbox" class="" name="send_newsletter" id="send_newsletter" required/>
						<label for="send_newsletter" class="checkbox-rtl">אני מאשר/ת קבלת דיוור פרסומי</label>
					</div>
					<input type="submit" class="btn btn-primary btn-outline-white px-4 py-3 " value="אישור"/>
				</form>
				<div class="ftco-degree-bg"></div>
			</div>
		</div>
		<div class='info' style="background-color: #ffffff;">
			<img src="../../static/images/sapir3.jpeg" style="width: 60%; margin-top: 43px; margin-bottom: 36px;" class="main-img"/>
			<div class="container ftco-degree-bg"></div>
		</div>
		<div class='' style="background-color: #ffffff;">
			<div class="row d-flex justify-content-center" style="margin: 6px; padding-top: 10%; padding-bottom: 52px; background-color: #4abbc1;">
				<div class="col-md-12 text-center heading-section heading-section-white ftco-animate">
					<h2>
					ספיר ברנס - יוגה לגוף שמח
						</h2>
					עקבו אחרי ברשתות החברתיות
					<div class="col-md">
						<a href="https://www.facebook.com/sapirbarnesyoga" style="color: white; padding: 20px"> <i class="fa fa-2x fa-facebook-official"></i> </a>
						<a href="https://www.instagram.com/sapir_yoga" style="color: white;"> <i class="fa fa-2x fa-instagram"></i> </a>
						<div class="ftco-footer-widget mb-9"></div>
					</div>					 
				</div>				 
			</div>
		</div>
		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../../static/js/jquery.min.js"></script>
		<script src="../../static/js/popper.js"></script>
		<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>