<html xmlns="http://www.w3.org/1999/html"> 
	<head> 
		<meta charset="UTF-8"> 
	</head>	 
	<body> 
		<!-- Main consist-all table-->		 
		<table valign="middle" align="center"> 
			<!-- First the picture - must be faded to white at the botttom -->			 
			<tr> 
				<td cellpadding="0" cellspacing="0"> 
					<a href="#"> 
						<img align="middle" style="display: block" src="http://up419.siz.co.il/up1/dnxinzmvjk5t.jpg" border="0" alt="picture"> 
					</a>					 
				</td>				 
			</tr>			 
		</table>

        <!-- Main button -->
		<table valign="middle" align="center" cellpadding="0" cellspacing="0"> 
			<tr>

				<td class="button-border" valign="middle" align="center" style="border-radius: 6px; border: 1px solid #f2f2f2; background: linear-gradient(1deg, rgba(2, 175, 176, 0.74) 0%, rgb(189, 255, 222) 100%);">
					<a href="{main_button_link}?id={user_id}">
					<table border="0" cellpadding="0" cellspacing="2" align="center" class="center-float" style="width: 283px; height: 53px; color: #ffffff;"> 
						<tr> 
							<td width="10"></td> 
							<td style="font-family: 'Rubik','sans-serif','Arial','Helvetica'; font-size: 25px; font-weight: normal; font-style: normal; color: #FFFFFF; text-decoration: none; letter-spacing: 0px; text-align: center;">
								לחץ לצפייה במדריך
							</td>							 
							<td width="10"></td> 
						</tr>						 
					</table>
					</a>
				</td>

			</tr>			 
		</table>
		<br> 
		<br>

		<!-- Logo + Social -->		 
		<table bgcolor="#FFFFFF" valign="middle" align="center" cellpadding="0" cellspacing="0"> 
			<!-- Logo -->			 
			<tr> 
				<td cellpadding="0" cellspacing="0" valign="middle" align="center" style="font-size: 16px;"><b>ספיר ברנס - יוגה לגוף שמח</b></td> 
			</tr>			 
			<!-- Social -->			 
			<tr> 
				<td align="center" cellpadding="0" cellspacing="0"> 
					<table> 
						<tr> 
							<!-- Facebook -->							 
							<td align="center" width="35"> 
								<a href="https://www.facebook.com/{facebook}"> 
									<img src="https://www.psd2newsletters.com/templates/minilam/img/facebook-bl.png" width="16" alt="facebook" style="display: block"> 
								</a>								 
							</td>							 
							<!-- Instagram -->							 
							<td align="center" width="35"> 
								<a href="https://www.instagram.com/{instagram}"> 
									<img src="https://www.psd2newsletters.com/templates/minilam/img/instagram-bl.png" width="16" alt="instagram" style="display: block"> 
								</a>								 
							</td>							 
							<!-- Youtube -->							 
							<td align="center" width="35"> 
								<a href="https://www.youtube.com/channel/{youtube_ch}"> 
									<img src="https://www.psd2newsletters.com/templates/minilam/img/youtube-bl.png" width="16" alt="youtube" style="display: block"> 
								</a>								 
							</td>							 
						</tr>						 
					</table>					 
				</td>				 
			</tr>			 
		</table>		 
		<br> 
		<br> 
		<!-- Unsubscribe -->		 
		<table valign="middle" align="center" cellpadding="0" cellspacing="0"> 
			<tr> 
				<td class="button-border" valign="middle" align="center" style="border: 1px solid #000000; border-radius: 6px;"> 
					<table border="0" cellpadding="0" cellspacing="2" align="center" class="center-float"> 
						<tr> 
							<td width="10"></td> 
							<td class="unsubscribe" style="font-family:'Rubik',sans-serif,Arial,Helvetica;font-size:11px;line-height:11px;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;letter-spacing:0px;"> 
								<a href="http://127.0.0.1:8000/unsubscribe?id={user_id}" style="color:#000000;text-decoration:none; font-family:inherit;">להסרה מרשימת התפוצה לחצ/י כאן</a>
							</td>							 
							<td width="10"></td> 
						</tr>						 
					</table>					 
				</td>				 
			</tr>			 
		</table>		 
	</body>	 
</html>