<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Cover Template for Bootstrap</title>
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- Custom styles for this template -->
		<link href="../../static/css/new.css" rel="stylesheet">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	</head>
	<body>
		<div class="" style="position: relative;">
			<div class="inner cover" style="background: linear-gradient(354deg, rgb(76, 184, 196) 0%, rgb(60, 211, 173) 100%); height: 100%;">
				<h1 class="cover-heading">קליק ו -5 דקות סרטון לשחרור פלג הגוף העליון אצלך במייל!</h1>
				<p class="lead">לקבלת סרטון של 5 דקות לשחרור פלג הגוף העליון - שכמות, כתפיים וצוואר מלא/י את פרטייך :</p>
				<form enctype="multipart/form-data" method="POST">
					{% csrf_token %}
					{{ user_info_form.as_p }}
					<div>
						<input type="checkbox" class="" name="send_newsletter" id="send_newsletter" required/>
						<label for="send_newsletter">אני מאשר/ת קבלת דיוור פרסומי.</label>
					</div>
					<input type="submit" class="btn btn-primary btn-outline-white px-4 py-3 " value="אישור"/>
				</form>
				<div class="ftco-degree-bg"></div>
			</div>
		</div>
		<div class='info' style="background-color: #ffffff;">
			<img src="../../static/images/sapir3.jpeg" style="width: 60%; margin-top: 43px; margin-bottom: 36px;"/>
			<div class="container ftco-degree-bg"></div>
		</div>
		<div class='' style="background-color: #ffffff;">
			<div class="row d-flex justify-content-center" style="margin: 6px; background: #afeccc; padding-top: 10%; padding-bottom: 52px;"> 
				<img src="../../static/images/logo.png" style="width: 40%; height: 40%; margin-top: 43px; margin-bottom: 36px; max-width: 325px; max-height: 324;">
				<div class="col-md-12 text-center heading-section heading-section-white ftco-animate"> 
					עקבו אחרי ברשתות החברתיות
					<div class="col-md"> 
						<a href="https://google.com" style="color: white;"> <i class="fa fa-2x fa-facebook-official"></i> </a> 
						<a href="https://google.com" style="color: white;"> <i class="fa fa-2x fa-instagram"></i> </a> 
						<div class="ftco-footer-widget mb-9"></div>						 
					</div>					 
				</div>				 
			</div>
		</div>
		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../../static/js/jquery.min.js"></script>
		<script src="../../static/js/popper.js"></script>
		<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>